@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.f {
    background: linear-gradient(90deg, #26285D -0.95%, #3BAFD1 100.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.head {
    background-image: url(./images/14092\ 2.png);
    background-color: hwb(162 3% 60%);
}

.head-team {
    background-image: url(./images/14092\ 2.png);
    background-color: hwb(5 32% 24%);
}

.im {
    transform: rotate(45deg);
    position: static;
    right: 0.5%;
    bottom: 40%;
}

@media (max-width: 1103px) {
    .im{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}

.cm{
    position: relative;
    z-index: 1;
}

.h-100:hover {
    opacity: 100;
}